body{
background-color: #ffedf1;
font-family:'Roboto',sans-serif;

}
.signup{
width: 360px;
height: 900px;
margin: auto;
background-color: white;
border-radius:3px ;

}

.img-container{
    width: 130px;
    height: 130px;
    text-align:center;
    size: 15px;
    border: 5px solid #fff;
    border-radius: 70%;

}

.login{
    width: 360px;
    height: 280px;
    margin: auto;
    background-color: white;
    border-radius:3px ;
    
    
}
h1{
    text-align:center;
    padding-top: 15px;
    
}


form label{

    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input{
    width: 360px;
    padding:8px;
    border:none;
    border:1px solid gray;
    border-radius: 6px;
    outline:none;
}

input[type="button"]{

width:320px;
height: 35px;
margin-top:20px;
border:none;
background-color: #cd0e7dd9;
color:white;
font-size: 25px;

}

p{

    text-align: left;
    color:black;
    margin-top: -10px;
    font: size 15px;
}

